.button
{
    -fx-background-color: linear-gradient(turquoise,midnightblue);
    -fx-text-fill: lightcyan;
    -fx-font-size: 15 px Comic Sans;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS";
}
